{
  "id": "ohmymndy-admin",
  "email": "$ADMIN_EMAIL",
  "password": "$ADMIN_PASSWORD",
  "displayName": "OhMyMndy Admin",
  "firstName": "Mandy",
  "lastName": "Schoep",
  "groups": [
    "lldap_admin"
  ]
}
