PG_PASS=sflkdfs394rslsdfkljxdfmawofimnzd
AUTHENTIK_SECRET_KEY=sdfsdflsj34s9jusdfmdshfsd
AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
AUTHENTIK_DISABLE_UPDATE_CHECK=true
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_COOKIE_DOMAIN=cookies.domain.com
